body {
  background-color: #ffffff; /* Example: light slate (adjust as needed) */
  color: #0f172a; /* Optional: dark text for contrast */
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Make sure it's above other content */
}
.nav-link:hover {
  color: #f97316 !important;
}
.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.navbar-toggler {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249, 250, 251, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.custom-navbar {
  height: 80px; /* Adjust as needed */
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  line-height: 80px; /* Align vertically */
}

.hero-section {
  margin-top: 60px;
  height: 100vh;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #0f172a;
  /* background-image: url("../assets/hero-bg-image.png"); */
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 0;
}
.floating-top-right-img {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  z-index: -1;
}

.hero-title {
  font-family: "Racing Sans One", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #f9fafb;
  margin-bottom: 2rem;
  text-align: left;
  z-index: 1;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #e2e8f0;
  margin-bottom: 2.5rem;
  text-align: left;
  z-index: 1;
}

.cta-btn {
  background-color: #f97316;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.cta-btn:hover {
  background-color: #ea580c;
  color: #fff;
}
/* Ensure dropdown has same solid color on collapse */
.bg-dark-custom {
  background-color: #0f172a !important;
}
.white-toggler {
  filter: brightness(0) invert(1); /* makes the icon white */
}
.temp-card-text {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.generator-section {
  margin-top: 20px;
  height: 100vh;
  border: 2px solid black;
  border-radius: 10px;
}
.popular-section {
  margin-top: 20px;
  height: 100vh;
  border: 2px solid black;
  border-radius: 10px;
}

.learn-color-section {
  margin-top: 20px;
  height: 165vh;
  border: 2px solid black;
  border-radius: 10px;
}
.color-block {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Icon overlay container */
.color-block .icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

/* Circle icons */
.color-block .icon-overlay i {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.color-block:hover .icon-overlay {
  opacity: 1;
}

.color-code {
  color: #ffffff;
}
/* ============================= Suggetion Palette Section============================== */
.popular-section {
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.section-heading {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.palette-carousel {
  cursor: grab;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.palette-carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.palette-carousel.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.palette-card {
  flex: 0 0 450px; /* fixed width */
  height: 200px; /* fixed height */
  scroll-snap-align: start;
  background: white;
  position: relative;

  /* border: 2px solid white; */
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  /* padding: 2px 5px; */
  box-sizing: border-box;
}
.copy-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: transparent;
  border: 2px solid white;

  color: white;
  /* border: none; */
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  z-index: 5;
  opacity: 0.9;
}

.copy-btn:hover {
  opacity: 1;
}
.colors {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 2px;
  /* gap: 2px; */
}

.color {
  flex: 1;
  /* border-radius: 2px; */
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 4px; */
  display: inline-block;
  /* cursor: text; */
  /* border: 1px solid #444; */
}
.color span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.color:hover span {
  opacity: 1;
}

.palette-label {
  white-space: nowrap;
  text-align: center;
  color: #0f172a;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.palette-carousel1 {
  cursor: grab;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.myfooter {
  border-radius: 5px;
  margin-top: 5px;
}
/* =========================================================== */

/* Optional: Rounded dropdown in mobile view */
@media (max-width: 991.98px) {
  .navbar-collapse {
    padding: 1rem;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }

  #generateBtn {
    margin-top: 10px;
  }
}
@media (max-width: 1700px) {
  .color-block {
    margin-top: -20px;
    width: 130px;
    height: 530px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
}
@media (max-width: 1441px) {
  .color-block {
    margin-top: -20px;
    width: 130px;
    height: 600px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 400px;
    height: 250px;
  }
  .color span {
    font-size: 10px;
  }
  .learn-color-section {
    height: 135vh;
  }
}

@media (max-width: 1025px) {
  .color-block {
    margin-top: -20px;
    width: 90px;
    height: 450px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 300px;
    height: 150px;
  }
  .color span {
    font-size: 10px;
  }
  .learn-color-section {
    height: 195vh;
  }
  .floating-top-right-img {
    width: 750px;
    height: 430px;
    left: 230px;
    top: 50px;
    border-radius: 8px;
  }
  .hero-title {
    color: #0f172a; /* Fill color */
    -webkit-text-stroke: 0.01px #ffffff; /* Stroke width and color */
  }
  .hero-subtitle {
    color: #ffffff;
    font-weight: bolder;
  }
}

@media (max-width: 769px) {
  .color-block {
    width: 70px;
    height: 400px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 250px;
    height: 150px;
  }
  .color span {
    font-size: 10px;
  }
  .learn-color-section {
    height: 200vh;
  }
  .floating-top-right-img {
    width: 730px;
    height: 595px;
    left: 5px;
    top: 5px;
    border-radius: 8px;
  }
  .hero-title {
    color: #0f172a; /* Fill color */
    -webkit-text-stroke: 0.01px #ffffff; /* Stroke width and color */
  }
  .hero-subtitle {
    color: #ffffff;
    font-weight: bolder;
  }
}

@media (max-width: 426px) {
  .color-block {
    width: 56px;
    height: 250px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 220px;
    height: 150px;
  }
  .color span {
    font-size: 10px;
  }
  .learn-color-section {
    height: 260vh;
  }
  .floating-top-right-img {
    width: 390px;
    height: 595px;
    left: 5px;
    top: 5px;
    border-radius: 8px;
  }
  .hero-title {
    color: #0f172a; /* Fill color */
    -webkit-text-stroke: 0.01px #ffffff; /* Stroke width and color */
  }
  .hero-subtitle {
    color: #ffffff;
    font-weight: bolder;
  }
}
@media (max-width: 376px) {
  .color-block {
    width: 47px;
    height: 240px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 200px;
    height: 150px;
  }
  .color span {
    font-size: 10px;
  }
  .learn-color-section {
    height: 290vh;
  }
  .floating-top-right-img {
    width: 340px;
    height: 590px;
    left: 5px;
    top: 10px;
    border-radius: 8px;
  }
  .hero-title {
    color: #0f172a; /* Fill color */
    -webkit-text-stroke: 0.01px #ffffff; /* Stroke width and color */
  }
  .hero-subtitle {
    color: #ffffff;
    font-weight: bolder;
  }
}
@media (max-width: 321px) {
  .color-block {
    width: 38px;
    height: 240px;
    border: 0.1px solid rgb(232, 231, 231);
  }
  .color-code {
    font-size: 8px;
    font-weight: bolder;
    text-align: center;
    background-color: #0f172a;
  }
  .palette-card {
    flex: 0 0 160px;
    height: 120px;
  }
  .color span {
    font-size: 8px;
  }
  .learn-color-section {
    height: 340vh;
  }
  .floating-top-right-img {
    width: 270px;
    height: 595px;
    left: 10px;
    top: 5px;
    border-radius: 8px;
  }
  .hero-title {
    color: #0f172a; /* Fill color */
    -webkit-text-stroke: 0.01px #ffffff; /* Stroke width and color */
  }
  .hero-subtitle {
    color: #ffffff;
    font-weight: bolder;
  }
}
